{%- style -%}
  .banner-wraper {
    position: relative;
    min-height: 100vh;
  }

  .banner-bg-image {
  }

  .banner-bg-image img {
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .banner-content {
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .content-wraper {
    position: absolute;
    bottom: 51px;
    max-width: 483px;
    min-height: 293px;
    left: 20px;
  }

  .banner-content .banner-button {
    margin-top: 47px;
  }

  .banner-heading {
    font-weight: 500;
  }
  .banner-footer {
    background: #f5f5f5;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .banner-footer p {
    margin: 0;
  }

  @media screen and (max-width: 999px) {
     .banner-content {
        position: static;
     }

     .content-wraper {
      top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
      width: clamp(290px, 90%, 540px);
      text-align: center;
      height: 100%;
    }

    .banner-bg-image img {
        position: absolute;
        height: 264px;
        left: 0;
        bottom: 0;
    }

    .banner-content .banner-button {
      margin-top: auto;
      margin-bottom: 51px;
    }
    .banner-heading {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 472px) {
    .banner-footer {
      font-size: 12px;
    }
  }
{%- endstyle -%}

<div class="banner-wraper">
  <div class="banner-bg-image">
    {%- if section.settings.bg_image != blank -%}
      <picture>
        <source media="(min-width: 1000px)" srcset="{{ section.settings.bg_image | image_url: width: 1500 }}">
        <source media="(max-width: 999px)" srcset="{{ section.settings.bg_image_mobile | image_url: width: 999 }}">

        {{
          section.settings.bg_image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            fetchpriority: 'high'
        }}
      </picture>
    {%- endif -%}
  </div>

  <div class="banner-content">
    <div class="content-wraper">
        <h1 class="banner-heading">{{ section.settings.heading }}</h1>
        <p>{{ section.settings.sub_heading }}</p>

        <div class="banner-button">
        <a href="{{ section.settings.btn_link }}" class="button-primary button-black">
            {{ section.settings.btn_title }}
            {%- liquid
            render 'arrow-icon'
            %}
        </a>
        </div>
    </div>
  </div>
</div>

<div class="banner-footer">
  <p>{{ section.settings.banner_footer_text }}</p>
</div>

{% schema %}
{
  "name": "EE Banner Test",
  "tag": "section",
  "class": "banner-test-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "The Gift Guide",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "banner_footer_text",
      "label": "Banner Footer Text"
    }
  ],
  "presets": [
    {
      "name": "EE Banner Test"
    }
  ]
}
{% endschema %}
