{%- style -%}
  button,
  input[type='submit'],
  input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }

  .grid_test_section .product-grid-test {
    width: calc(50% - 4px);
    max-width: calc(50% - 4px);
    aspect-ratio: 0.975;
    position: relative;
  }

  .grid_test_section .product-grid-test img {
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .modal-selector-quick-view {
    position: absolute;
    width: 22px !important;
    height: 22px !important;
    z-index: 1;
  }

  .page-width {
    max-width: {{ section.settings.container_width }}px;
    margin: 0 auto;
    padding-inline: 10px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-padding h2 {
        font-size: 24px;
        text-align: center;
    }
  }

  @media screen and (min-width: 750px) {
    .page-width {
        padding-inline: 20px;
    }
    
    .grid-container {
        gap: 20px;
    }

    .grid_test_section .product-grid-test {
      width: calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <h2>{{ section.settings.title }}</h2>
  <div class="grid-container">
    {%- for block in section.blocks -%}
      {%- liquid
        assign product = block.settings.product
        assign min = 5
        assign max = 80
        assign diff = max | minus: min
        assign random_number = 'now' | date: '%N' | modulo: diff | plus: min
      -%}
      {%- case block.type -%}
        {%- when 'product' -%}
          <div class="product-grid-test">
            {%- if product != blank -%}
              <img
                srcset="{{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
                src="{{ product.featured_media | image_url: width: 533 }}"

                alt="{{ product.featured_media.alt | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ product.featured_media.width }}"
                height="{{ product.featured_media.height }}"
              >

              <img
                style="cursor: pointer; top: {{ random_number }}%; right:{{ random_number }}%"
                data-target="{{ product.handle}}"
                class="modal-selector-quick-view"
                src="https://cdn.shopify.com/s/files/1/0712/2626/1722/files/plus-icon.png?v=1720836364"
                width="22px"
                height="22px"
              >
            {%- endif -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
{% schema %}
{
  "name": "EE Grid Test Section",
  "tag": "section",
  "class": "grid_test_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Max Width",
      "min": 1000,
      "max": 1400,
      "step": 50,
      "default": 1300,
      "unit": "px"
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "EE Grid Test Section"
    }
  ]
}
{% endschema %}
